<div id="appointmentGraph">
	<!-- READ -->
	<dialog id="edit-window">
		<h2>Mira las proximas citas...</h2>
		<p id="appointment-info">
			Id: ??
			<br />
			Doctor: ????
			<br />
			Especialidad: ????
			<br />
			Estado: ????
			<br />
			Dia: ??/??/????
			<br />
			Hora: ??:??
		</p>
		<button>Guardar</button>
		<button>Cerrar</button>
	</dialog>

	<main id="mainView"></main>
	<div id="controller">
		<button id="cancel-button">Cancelar cita</button>
		<button id="info-universe">Cita: ??</button>
		<button id="delete-button">Eliminar cita</button>
	</div>
</div>
{{{loadCanvas}}}